.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  align-items: center;
}
.iframeWrapper {
}
.hidden {
  visibility: hidden;
  position: absolute;
}

.centerBox {
  display: flex;
  justify-content: center;
}

.loadingBox {
  text-align: center;
}
